.footer {
  grid-area:ft;
  display: flex;
  flex-direction: column;   
  text-align: center;
}

.footer >nav>a{
  text-decoration:none;
}
 

.footer > nav>a>img{      
  width: 30px;
  height: 30px;
  margin: auto 10px;
  justify-content: center;
  align-items: center;
}

