.header{
  grid-area: hd;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center; 
}

.header > figure{
  font-style: italic;
  font-size: 15px;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  align-items: center;
}

.header > figure>img{
  width: 50%;
}
